.footer {
	@include text-style-label;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	&__box,
	&__credits,
	.footer-items,
	.footer-contact {
		display: flex;
	}
	&__box {
		justify-content: space-between;
		.footer-items {
			gap: 1rem;
			.footer-item {
				height: fit-content;
				width: fit-content;
			}
			.footer-item::after {
				content: '';
				border-right: 1px solid $color-main-text;
				margin-left: 1rem;
			}
			.footer-item:last-child::after {
				content: '';
				border-right: none;
				margin-left: 0;
			}
		}
		.footer-contact {
			flex-direction: column;
			gap: 0.3rem;
		}
	}
	&__credits {
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		@include text-style-label;
	}
}
