@import './variables';

@mixin button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	background-color: $color-brand-main;
	width: fit-content;
	height: fit-content;
	a {
		@include text-style-button;
		color: $color-main-background;
	}
}
