$color-brand-main: rgba(195, 149, 21, 1);
$color-main-text: rgba(242, 242, 242, 1);
$color-footer-text: rgba(153, 153, 153, 1);
$color-main-background: rgba(14, 14, 14, 1);

@mixin text-style-display() {
	font-size: 48px;
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	line-height: 60px;
	text-decoration: none;
	text-transform: capitalize;
}
@mixin text-style-h-1() {
	font-size: 39px;
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: capitalize;
}
@mixin text-style-h-2() {
	font-size: 31px;
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	line-height: 20px;
	text-decoration: none;
	text-transform: uppercase;
}
@mixin text-style-h-3() {
	font-size: 25px;
	font-family: 'Poppins';
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-body() {
	font-size: 16px;
	font-family: 'Poppins';
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-label() {
	font-size: 13px;
	font-family: 'Inter';
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-caption() {
	font-size: 10px;
	font-family: 'Inter';
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-button() {
	font-size: 12.800000190734863px;
	font-family: 'Poppins';
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: capitalize;
}
