@import './reset';
@import './variables';

body {
	background-color: $color-main-background;
	font-family: 'Poppins', sans-serif;
	h1,
	h2 {
		color: $color-brand-main;
	}
	p,
	h3 {
		color: $color-main-text;
	}
}
