@import './reset';
@import './variables';
@import './nav';
@import './mixins';

a {
	color: $color-main-text;
}

a:hover {
	color: $color-brand-main;
}

body {
	background-color: $color-main-background;
	font-family: 'Poppins', sans-serif;
	h1,
	h2 {
		color: $color-brand-main;
	}
	p,
	h3 {
		color: $color-main-text;
	}
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.hero {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: row;
	width: 100%;
	height: 100vh;
	background: url('../../dist/img/hero-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 10;    
	&__overlay {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(247, 237, 196, 0) 19%, rgba(14, 14, 14, 1) 100%);
		z-index: 0;
	}
	&__container {
		display: grid;
		gap: 1rem;
		justify-self: end;
		align-self: center;
		z-index: 1;
		.hero-title {
			@include text-style-display;
		}
		.cta-btn {
			@include button;
			margin-top: 2rem;
		}
	}
	&__show-more {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 3rem;
		cursor: pointer;
	}
}
